<div id="<%= dom_id url %>">
  <p>
    <strong>Original url:</strong>
    <%= link_to url.original_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <%= link_to "#{request.protocol}#{url.short_url}.#{hostname_de_admintrator(request)}" %>
  </p>

</div>
