<div id="<%= dom_id url %>">
  <p>
    <strong>Original url:</strong>
    <%= link_to url.original_url %>
  </p>

  <p>
    <strong>Short url:</strong>
    <% short_link = "#{request.protocol}#{url.short_url}.#{hostname_de_admintrator(request)}" %>
    <%= link_to short_link, short_link %>
  </p>

</div>
