<p style="color: green"><%= notice %></p>

<h1>Urls</h1>

<div id="urls">
  <% @urls.each do |url| %>
    <%= render url %>
    <p>
      <%= link_to "Edit/Delete this url", url %>
    </p>
  <% end %>
</div>

<hr />

<%= link_to "New url", new_url_path %>
